  <div id="canvas-wrapper" class="canvas-wrapper">
      <svg id="canvas" class="canvas"
           #canvas
           (mousedown)="doMouseDown($event)"
           (mousemove)="doMouseMove($event)"
      ></svg>
    </div>

    <div id="dropzone"
         style="border: 2px solid #0091ea; padding: 25px; margin: 5px; display: none; width: 96%; height: 93%;position: absolute;">
      <!--     (ondrop)="dropHandler(event);"-->
      <!--     (ondragover)="dragOverHandler(event);">-->

      <h2 style="padding-top: 20%; text-align: center;">Drop model here!</h2>
    </div>
    <div id="ctxMenu" #ctxMenu>
      <div class="menuContent">
        <button mat-menu-item class="menuItem" (click)="openTaskConfigDialog()">
          <mat-icon>settings</mat-icon>
          <span>Configure</span>
        </button>
        <button mat-menu-item class="menuItem" (click)="editFormBuilder()" *ngIf="isEdit()">
          <mat-icon>edit</mat-icon>
          <span>Edit form</span>
        </button>
        <button mat-menu-item class="menuItem" (click)="openFormBuilder()" *ngIf="!isEdit()">
          <mat-icon>add</mat-icon>
          <span>Create form</span>
        </button>
        <button mat-menu-item class="menuItem" (click)="manageRoles()">
          <mat-icon>people</mat-icon>
          <span>Manage Roles</span>
        </button>
        <button mat-menu-item class="menuItem" (click)="manageActions()">
          <mat-icon>code</mat-icon>
          <span>Edit actions</span>
        </button>
      </div>
    </div>
