<h1 mat-dialog-title>{{transition.label}}</h1>
<div mat-dialog-content class="mat-dialog-content">
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <input matInput placeholder="Task icon" [(ngModel)]="transition.icon">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Assign Policy</mat-label>
    <mat-select [(ngModel)]="transition.assignPolicy">
      <mat-option *ngFor="let policy of assignPolicyOptions" [value]="policy">
        {{policy}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Finish Policy</mat-label>
    <mat-select [(ngModel)]="transition.finishPolicy">
      <mat-option *ngFor="let policy of finishPolicyOptions" [value]="policy">
        {{policy}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
