<mat-toolbar class="modelerToolbar">
  <nab-control-panel [nav]="sidenav"></nab-control-panel>
</mat-toolbar>

<mat-sidenav-container  class="container-sidenav">
  <mat-sidenav #sidenav mode="over" position="end"
               mwlResizable
               [style.width.px]="width"
               [resizeCursorPrecision]="10"
               [resizeEdges]="{ left: true }"
               (resizing)="onResizeEvent($event)">
    <nab-edit-panel-modeler [nav]="sidenav"></nab-edit-panel-modeler>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
