mat-panel-title {
  max-width: 25%;
}

.p-width {
  max-width: 25%;
}

.padding24px {
  padding: 0 24px;
}

.padding15px {
  padding: 0 15px;
}

.margin-top10px {
  margin-top: 10px;
}

.width80 {
  width: 80%;
  margin: 50px auto;
}
