<mat-card class="width80">
    <div *ngIf="show">
      <h1 *ngIf="dataSource.length === 0" fxLayoutAlign="center center">Roles aren't created yet!</h1>
      <div *ngIf="dataSource.length !== 0" matSort (matSortChange)="sortData($event)">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="padding24px">
          <p fxFlex="25" mat-sort-header="id"><strong>ID</strong></p>
          <p fxFlex class="padding15px" mat-sort-header="title"><strong>Title</strong></p>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of dataSource">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.id}}
              </mat-panel-title>
              <mat-panel-description>
                {{item.title}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <div fxFlex="22.5">Set ID</div>

              <mat-form-field fxFlex="25">
                <input matInput [(ngModel)]="item.id" (change)="setValue($event, item, 'id')">
              </mat-form-field>

              <div fxFlex="2.5"></div>

              <div fxFlex="22.5">Set Title</div>

              <mat-form-field fxFlex="25">
                <input matInput [(ngModel)]="item.title" (change)="setValue($event, item, 'title')">
              </mat-form-field>

              <div fxFlex="2.5"></div>
            </div>

            <mat-action-row>
              <button mat-button color="warn" (click)="openDialog(item)">Delete</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator class="margin-top10px" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                       [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end end">
      <button mat-raised-button (click)="addRole()">Add Role</button>
    </div>
</mat-card>

