.svg-transition-heatmap-fill-0{
  fill:rgb(26,28,110);
}
.svg-transition-heatmap-fill-1{
  fill:rgb(0,45,160);
}
.svg-transition-heatmap-fill-2{
  fill:rgb(1,114,193);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-3{
  fill:rgb(3,197,229);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-4{
  fill:rgb(49,255,210);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-5{
  fill:rgb(144,255,113);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-6{
  fill:rgb(225,255,29);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-7{
  fill:rgb(253,169,0);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-8{
  fill:rgb(252,76,0);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-9{
  fill:rgb(212,0,1);
  stroke: black !important;
  stroke-width: 1;
}
.svg-transition-heatmap-fill-10{
  fill: rgb(120,9,9);
  stroke: black !important;
  stroke-width: 10px;
}