<div class="form">
  <mat-form-field class="full-width">
    <input [ngModel]="transition.label" (change)="onChange($event, 'label')" matInput type="text" placeholder="Set label">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [ngModel]="transition.icon" (change)="onChange($event, 'icon')" matInput type="text" placeholder="Set icon">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Set assign policy</mat-label>
    <mat-select [(value)]="transition.assignPolicy" (selectionChange)="onChange($event, 'assign')">
      <mat-option *ngFor="let opt of optionsAssign" [value]="opt.key">
        {{opt.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Set finish policy</mat-label>
    <mat-select  [(value)]="transition.finishPolicy" (selectionChange)="onChange($event, 'finish')">
      <mat-option *ngFor="let opt of optionsFinish" [value]="opt.key">
        {{opt.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <nab-trigger-tree [nav]="nav" [triggers]="transition.triggers" (changeTriggers)="saveTriggers($event)">
  </nab-trigger-tree>
</div>
