.localization-tree {
  background: #fafafa !important;
}

.localization-tree-invisible {
  display: none;
}

.localization-tree ul,
.localization-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.full-width {
  width: 100%;
}
