<div>
  <h2 mat-dialog-title>Add language</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="add-language-dialog">
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="selectedLanguage" fxFlex="100">
        <mat-option *ngFor="let language of i18nModeService.languageCodes" [value]="language.code">
          {{language.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="selectedLanguage" cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</div>

