.app-mat-sidenav-container {
  height: 100%;
}

.app-mat-viewnav {
  //background-color: map-get( 600); GLOBAL STYLE

  mat-action-list {
    overflow: hidden;
  }

  .selected {
    //border-left: map-get( A200); GLOBAL STYLE
    border-left-style: solid;
    //background-color: map-get( 700); GLOBAL STYLE

    mat-icon {
      color: white;
      margin-left: -3px;
    }
  }

  mat-icon {
    //color: map-get( 200); GLOBAL STYLE
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-mat-icon {
  margin: 10px;
}

.app-mat-toolbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.mat-icon-button {
  input[type="file"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
  }
}

.app-viewnaw-bottom-list {
  position: absolute;
  bottom: 0;
}
