.toolbarButton {
  width: 24px;
  border-radius: 5%;
}

mat-divider.style-fix {
  height: 30px;
  margin-top: 5px;
}

.button--input {
  display: none;

}

.button-line {
  line-height: 0;
  border-radius: 5px !important;
}

.button-highlight {
  //background: map-get( A200) !important; GLOBAL STYLE
}

.height-select {
  height: 40px;
  padding-right: 16px;
}

.flexis {
  display: flex;
}

.padding16px {
  padding-left: 16px;
}

.language-select {
  min-width: 20vw;
  font-size: 16px;
  padding-bottom: 0px !important;
}

.language-select {
  ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.35em;
  }
}

