.form {
  margin: 20px 10px;
  height: calc(100% - 40px);
  width: auto;
}

.full-width {
  display: block;
  margin : 0 auto;
  width: 100%;
}

.margin-html {
  margin-top: 20px;
}

.save-button {
  width: 89%;
  margin: 10px 5.5% 20px;
}

.button-text {
  color: black !important;
}

.drag-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.drag-box {
  padding: 5px 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  height: 67px;
}

.drag-box:hover {
  background: #dddddd;
}

.no-options {
  height: 67px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.icon-color {
  padding-right: 4px;
  color: #bbbbbb;
}

.margin-right8px {
  margin-right: 16px;
}
