@import "theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-mat-viewnav {
  background-color: map-get($color-blue, 600);
  .selected {
    border-left: map-get($color-blue, A200);
    background-color: map-get($color-blue, 700);
  }

  mat-icon {
    color: map-get($color-blue, 200);
  }
}

.active-item {
  background: map-get($color-blue, A200) !important;
}

.button-highlight {
  background: rgba(map-get($color-blue, A100), .3) !important;
}

.active-item-gridster {
  background: map-get($color-blue, A100) !important;
  //border: 5px solid map-get($color-blue, A200);
}

.field-list-mat-list-item:hover {
  .field-list-mat-list-item-title {
    color: map-get($color-blue, 500);
  }
}

.field-list-mat-list-item-disabled-title {
  color: #bbbbbb;
}

.field-list-expansion-header:hover {
  color: map-get($color-blue, 500);
  .field-list-expansion-title {
    color: map-get($color-blue, 500);
  }
}

.clear-search-icon {
  &:hover {
    background-color: map-get($color-blue, A200);
  }
}

.active-card {
  background: map-get($color-blue, 200);
}

.mat-tab-label:hover {
  background: map-get($color-blue, 50);
}

.mat-tab-label-active {
  color: map-get($color-blue, 500);
  border-bottom: 2px solid map-get($color-blue, 500);
  opacity: 1;
}

.fill-svg {
  color: map-get($color-blue, A200) !important;
  fill: map-get($color-blue, A200) !important;
  opacity: 1;
}

.button-line:hover {
  background: rgba(map-get($color-blue, A100), .50) !important;
}

.data-selected {
  background: rgba(map-get($color-blue, A100), .3);
}
